
body{
  background-color: bisque;
}
.board-container{
 
  text-align: center;
  margin: 100px;
 
}
.board-row{
  display: flex;

  justify-content: center;
  align-items: center;

}
.one-block{
  border: solid rgb(115, 224, 31) 2px ;
  width: 141px;
  height: 129px;
  color: rgb(255, 115, 0);
  display: flex;
  justify-content: center;
  align-items: center;

}
.restart{
  margin: 20px;
  width: 146px;
  height: 40px;
  background-color: rgb(230, 66, 16);
}

